<!DOCTYPE html>
<html>
	<head>
		<title>Sign Up</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/signup.css') }}"
		/>
		<script
			type="text/javascript"
			src="{{ url_for('static', filename='js/signup.js') }}"
		></script>
	</head>
	<body>
		<div class="container">
			<form id="signup-form" action="" method="get">
				<h1>Sign Up</h1>
				<label for="username"><b>Username</b></label>
				<input
					type="text"
					id="username"
					placeholder="Enter Username"
					name="username"
				/>

				<label for="email"><b>Email</b></label>
				<input type="text" id="email" placeholder="Enter Email" name="email" />

				<label for="password"><b>Password</b></label>
				<input
					type="password"
					id="password"
					placeholder="Enter Password"
					name="password"
				/>

				<label for="password-confirm"><b>Confirm Password</b></label>
				<input
					type="password"
					id="confirm-password"
					placeholder="Confirm Password"
					name="confirm-password"
				/>

				<button type="submit">Sign Up</button>
				<p>Already have an account? <a href="/html/loginPg.html">Login</a></p>
			</form>
		</div>
	</body>
</html>
