{% extends 'main.html' %} {% block content %}

<div class="input-box">
	<i class="uil uil-search"></i>
	<input type="text" placeholder="Search here..." />
	<button class="button">Search</button>
</div>

<div class="movies-container">
	<div class="movie-list">
		<div class="movie-img-box">
			<img src="#" alt="" />
		</div>
		<h3 class="movie-title">Movie Title</h3>
		<div class="list">
			<a href="#" class="btn">Add To List</a>
		</div>
	</div>

	<div class="movie-list">
		<div class="movie-img-box">
			<img src="#" alt="" />
		</div>
		<h3 class="movie-title">Movie Title</h3>
		<div class="list">
			<a href="#" class="btn">Add To List</a>
		</div>
	</div>

	<div class="movie-list">
		<div class="movie-img-box">
			<img src="#" alt="" />
		</div>
		<h3 class="movie-title">Movie Title</h3>
		<div class="list">
			<a href="#" class="btn">Add To List</a>
		</div>
	</div>

	<div class="movie-list">
		<div class="movie-img-box">
			<img src="#" alt="" />
		</div>
		<h3 class="movie-title">Movie Title</h3>
		<div class="list">
			<a href="#" class="btn">Add To List</a>
		</div>
	</div>

	<div class="movie-list">
		<div class="movie-img-box">
			<img src="#" alt="" />
		</div>
		<h3 class="movie-title">Movie Title</h3>
		<div class="list">
			<a href="#" class="btn">Add To List</a>
		</div>
	</div>
</div>

{% include 'footer.html' %} {% endblock content %}
